body {
    color: #4a4a4a;

}
*, ::after, ::before {
    box-sizing: inherit;
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}
.columns.is-multiline {
    flex-wrap: wrap;
}
.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
}
.has-text-centered {
    text-align: center!important;
}
.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar-brand , .navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}
.subtitle {
    color: #000;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    word-break: break-word;
}
.subtitle.is-2{
    font-size: 2.5rem;
}
.subtitle.is-3 {
    font-size: 2rem;
}

@media screen and (min-width: 1024px), print
    .container>.navbar .navbar-brand, .navbar>.container .navbar-brand {
        margin-left: -.75rem;
    }
@media screen and (min-width:769px), print .column.is-6, .column.is-6-tablet {
    flex: none;
    width: 50%;
}
[data-aos^=fade][data-aos^=fade]{
    opacity:0;
    transition-property: opacity, transform;
}

